.navbar {
    background-color: #0c2340;
    padding-bottom: 10px;
}

.maintitle {
    font-family: playball;
    border: 2px solid #ffffff;
    background-color: #ccc;
    color: #072340;
    padding: 10px;
    border-radius: 50px;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #072340;
    padding: 10px 50px, 50px, 50px;
    border-radius: 50px;
    border: 2px solid #ffffff; 
    color: #ffffff;
    font-family: playball;
    font-size: 20px;  
}

.question{
    margin-bottom: 30px;
}

.btn {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ccc;
    color: #072340;
}

.btn:hover {
    cursor: pointer;
    background-color: #57636e;
}

.btn:focus {
    outline: 0;
}

#summary {
    color: #ffffff;
    margin-bottom: 30px;
}

body {
    background-image: url(../images/pinstripes.jpg);
 }

 .gif {
     height: 100px;
     width: 150px;
 }

 

