.navbar {
    background-color: #0c2340;
    padding-bottom: 10px;
    border-bottom: solid 2px #ccc;
}

.maintitle {
    font-family: playball;
    border: 2px solid #ffffff;
    background-color: #ccc;
    color: #072340;
    padding: 10px;
    border-radius: 50px;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #072340;
    padding: 10px 50px, 50px, 50px;
    border-radius: 50px;
    border: 2px solid #ffffff; 
    color: #ffffff;
    font-family: playball;
    font-size: 20px;  
    margin-bottom: 100px;
}

.question{
    margin-bottom: 30px;
}

.btn {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ccc;
    color: #072340;
}

.btn:hover {
    cursor: pointer;
    background-color: #57636e;
}

.btn:focus {
    outline: 0;
}

#summary {
    color: #ffffff;
    margin-bottom: 40px;
}

body {
    background-image: url(../images/pinstripes.jpg); 
 }

 .gif {
     height: 100px;
     width: 150px;
 }

 .footer {
    background-color: #072340;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0px;
    width: 100%;
    padding: 0px;
    border-top: solid 2px #ccc;
  }
  
  .copy {
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    padding: 10px;
    font-family: playball, sans-serif;
    }

